/* Base Styles */
body {
  font-family: 'Collins', sans-serif;
  font-size: 1rem; /* Base font size */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5; /* Better readability */
}

.input-container {
  position: relative;
  display: inline-block;
}

input, select, button, option {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1em;
}

label {
  position: absolute;
  top: -10px;  /* Moves label up */
  left: 10px;  /* Moves label slightly inside */
  background: white;
  padding: 0 5px;
  font-size: 14px;
  color: #1E3A8A;
}

.show_pwd_label {
  cursor: pointer;
  position: absolute;
  top: -5px;  /* Moves label up */
  right: 5px;  /* Moves label slightly inside */
  background: white;
  padding: 0 5px;
  font-size: 13px;
  color: #374151;
}

input,
.error_input,
select {
  width: 100%; /* Full width for responsiveness */
  max-width: 400px;
  text-align: center;
  box-sizing: border-box;
}

.error_input {
  color: red;
}

button {
  width: auto; /* Flexible width */
  background-color: #374151;
  color: white;
  font-size: 1rem;
  padding: 0.5em 1em;
  border: 2px solid #374151;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: white;
  color: #374151;
}

.dateInput {
  width: 100%;
  font-size: 1rem;
  padding: 0.5em;
  box-sizing: border-box;
}

.tableStyle {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px; /* Adjust table size */
  margin: 2em auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #374151;
  border: 2px solid #e2e8f0; 
}

.loginFormStyle {
  border-collapse: collapse;
  width: 100%;
  max-width: 500px; /* Adjust table size */
  margin: 2em auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #374151;
  border: 2px solid #e2e8f0; 
}

.dashboard {
  border-collapse: collapse;
  width: 100%;
  max-width: 1100px; /* Adjust table size */
  margin: 2em auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #374151;
}

.chick-dashboard {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px; /* Adjust table size */
  margin: 2em auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  color: #374151;
}

.tableStyle td,
.dashboard td {
  padding: 0.75em;
}

.headerStyle {
  padding: 1em;
  text-align: center;
  background-color: #374151;
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}

.dashboard-title {
  padding: 1em;
  text-align: center;
  background-color: #374151;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.dashboard-subheader {
  padding: 1em;
  text-align: center;
  color: #374151;
  font-weight: bold;
  font-size: 1rem;
}

.chick-dashboard-title {
  padding: 1em;
  text-align: center;
  background-color: #374151;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.chick-dashboard-subheader {
  padding: 1em;
  text-align: center;
  color: #374151;
  font-weight: bold;
  font-size: 1rem;
}

.report-title {
  padding: 1em;
  text-align: center;
  color: #374151;
  font-weight: bold;
  font-size: 1rem;
}

.cellStyle, .dashboard-cell {
  padding: 0.75em;
  text-align: center;
  color: #333;
}

.subHeaderStyle {
  padding: 0.75em;
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.downloadlink {
  text-decoration: none;
  color: blue;
}

.downloadlink:hover {
  cursor: pointer;
  color: red;
}

.even-row {
  background-color: #f1f5f9; /* Light background for even rows */
}

.odd-row {
  background-color: #e2e8f0; /* Slightly darker background for odd rows */
}

/* Responsive Design */
@media (max-width: 1024px) {
  .tableStyle, .dashboard {
      font-size: 0.9rem;
  }

  .headerStyle, .dashboard-title {
      font-size: 1.25rem;
  }
}

@media (max-width: 768px) {
  input, select, button {
      width: 100%; /* Full width for smaller screens */
  }

  .tableStyle, .dashboard {
      font-size: 0.85rem;
      overflow-x: auto; /* Allow horizontal scroll */
  }

  .headerStyle, .dashboard-title {
      font-size: 1rem;
  }

  .subHeaderStyle {
      font-size: 0.9rem;
  }

  .navbar-links {
      font-size: 0.9rem; /* Reduce navbar link size */
  }
}

/* Navbar Styles */
.navbar {
  background-color: #f9f9f9;
  padding: .2rem 2rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #34A853;
}

.navbar-links {
  display: flex;
  list-style: none;
}

.navbar-links li {
  margin: 0 1rem;
}

.navbar-links a {
  color: #EA4335;
  font-size: 1.25rem;
  transition: color 0.2s, transform 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #FBBC05;
  transform: translateY(-3px);
}

.navbar-links a.current {
  color: #4285F4;
  transform: none;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
  border: none;
  cursor: pointer;
}

.menu-bar {
  width: 100%;
  height: 3px;
  background-color: white;
}

/* Mobile Navbar */
@media (max-width: 768px) {
  .menu-toggle {
      display: flex;
  }

  .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      /* top: 60px; */
      right: 0;
      width: 100%;
      background-color: #1E3A8A;
      padding: 1rem 0;
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-links li {
      margin: 0.5rem 0;
      text-align: center;
  }
}
